.gradle/
examples/.*
examples/rules-examples/.*
examples/rules-examples/bin/
examples/rules-examples/build/
examples/rules-examples/*.json
examples/rules-examples/*.xml
examples/rules-examples-without-annotations/.*
examples/rules-examples-without-annotations/bin/
examples/rules-examples-without-annotations/build/
examples/rules-examples-without-annotations-spooned/.*
examples/rules-examples-without-annotations-spooned/src/main/java/fr/ubordeaux/ddd/example/
examples/rules-examples-without-annotations-spooned/bin/
examples/rules-examples-without-annotations-spooned/build/
rules/.*
rules/target/
usage/.*
usage/usage-cargoes/.*
usage/usage-cargoes/target/
usage/usage-examples/.*
usage/usage-examples/target/
